@font-face {
  font-family: roboto;
  src: url("../fonts/roboto.ttf");
}
@font-face {
  font-family: roboto_bold;
  src: url("../fonts/roboto_bold.ttf");
}
@font-face {
  font-family: roboto_med;
  src: url("../fonts/roboto_med.ttf");
}
@font-face {
  font-family: roboto_light;
  src: url("../fonts/roboto_light.ttf");
}
@font-face {
  font-family: gabarito;
  src: url("../fonts/gabarito.ttf");
}
